# === Node ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Entorno y configuraciones ===
.env
.env.local
.env.*.local

# === Logs ===
*.log

# === Compilaciones / Builds ===
dist/
build/
tmp/
.cache/
coverage/

# === Editores ===
.vscode/
.idea/

# === Sistema operativo ===
.DS_Store
Thumbs.db

# === Otros ===
*.bak
*.swp
