-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: saboruam
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `consultas`
--

DROP TABLE IF EXISTS `consultas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `consultas` (
  `usu_num` varchar(20) NOT NULL,
  `pro_cod` varchar(10) NOT NULL,
  `fecha_consulta` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`usu_num`,`pro_cod`),
  KEY `fk_productos_consultas` (`pro_cod`),
  CONSTRAINT `consultas_ibfk_1` FOREIGN KEY (`usu_num`) REFERENCES `usuarios` (`numero_de_documento`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_productos_consultas` FOREIGN KEY (`pro_cod`) REFERENCES `productos` (`codigo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `consultas`
--

LOCK TABLES `consultas` WRITE;
/*!40000 ALTER TABLE `consultas` DISABLE KEYS */;
/*!40000 ALTER TABLE `consultas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lugares`
--

DROP TABLE IF EXISTS `lugares`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lugares` (
  `NIT` varchar(15) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `tipo` varchar(50) NOT NULL,
  `horario_atencion` varchar(100) DEFAULT NULL,
  `estado` varchar(20) DEFAULT NULL,
  `servicio_domicilio` tinyint(1) DEFAULT NULL,
  `numero_contacto_domicilio` varchar(20) DEFAULT NULL,
  `ubicacion` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`NIT`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lugares`
--

LOCK TABLES `lugares` WRITE;
/*!40000 ALTER TABLE `lugares` DISABLE KEYS */;
INSERT INTO `lugares` VALUES ('10020','Don JUAN','Tienda','7:00 am a 8:00 pm','Activo',1,'32444788','Al frente fundadores'),('123-090','los paisitas','Cafeter├¡a','7:00 am a 8:00 pm','Activo',1,'32444788','Al frente fundadores'),('123-092','los paisitas','Tienda','7:00 am a 8:00 pm','Activo',1,'32444788','Al frente fundadores'),('123-093','los paisitas','Cafeter├¡a','7:00 am a 8:00 pm','Activo',1,'32444788','Al frente fundadores'),('2309','DO├æA HELENA','Otro','7:00 am a 8:00 pm','Activo',1,'32444788','sacatin');
/*!40000 ALTER TABLE `lugares` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

DROP TABLE IF EXISTS `productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos` (
  `codigo` varchar(10) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `precio` decimal(10,2) NOT NULL,
  `descripcion` varchar(200) DEFAULT NULL,
  `tipo_menu` varchar(50) DEFAULT NULL,
  `imagen` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`codigo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
INSERT INTO `productos` VALUES ('12BOM','bombom',800.00,'bombon rojo','Otro','8e261b506f4a8639835e9e9f11d29a62'),('23EMP','Empanada',20000.00,'EMPANDA DE CARNE','Desayuno','928022dee73f4faf6530faa17f0312c9'),('34PAP','Papel Higenico',2900.00,'Ppel 4 rollos','Otro','432fe2bf2d46a77fa6bd133ac0b60b92'),('67PLA','platanos',1000.00,'platga','Bebida','2d820ca4b394cec0aeba9b565ca0a3e4'),('98COL','cocacola',90000.00,'HOAL','Bebida','88b5429b951ace00eaeeba881b785f99');
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos_lugares`
--

DROP TABLE IF EXISTS `productos_lugares`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos_lugares` (
  `lug_nit` varchar(15) NOT NULL,
  `pro_cod` varchar(10) NOT NULL,
  PRIMARY KEY (`lug_nit`,`pro_cod`),
  KEY `fk_productos` (`pro_cod`),
  CONSTRAINT `fk_lugares` FOREIGN KEY (`lug_nit`) REFERENCES `lugares` (`NIT`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_productos` FOREIGN KEY (`pro_cod`) REFERENCES `productos` (`codigo`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos_lugares`
--

LOCK TABLES `productos_lugares` WRITE;
/*!40000 ALTER TABLE `productos_lugares` DISABLE KEYS */;
INSERT INTO `productos_lugares` VALUES ('10020','12BOM'),('2309','23EMP'),('10020','34PAP'),('123-092','67PLA'),('123-090','98COL');
/*!40000 ALTER TABLE `productos_lugares` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `tipo_de_documento` varchar(20) NOT NULL,
  `numero_de_documento` varchar(20) NOT NULL,
  `correo_electronico` varchar(100) NOT NULL,
  `nombre_completo` varchar(100) NOT NULL,
  `contrasena` varchar(100) NOT NULL,
  PRIMARY KEY (`numero_de_documento`),
  UNIQUE KEY `correo_electronico` (`correo_electronico`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES ('CC','10245678','mariapaz@gamil.com','Maria Paz Puerta','123456'),('CC','10602979','eliza@gmail.com','Elizabeth Meneses','1234567'),('CC','1060588888','luisa@gmail.com','Luisa','123444');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-03 15:06:01
